# Supabase environment variables
VITE_SUPABASE_URL=your_supabase_url
VITE_SUPABASE_ANON_KEY=your_supabase_anon_key

# PostgreSQL environment variables
VITE_POSTGRES_HOST=your_postgres_host
VITE_POSTGRES_PORT=5432
VITE_POSTGRES_USER=your_postgres_user
VITE_POSTGRES_PASSWORD=your_postgres_password
VITE_POSTGRES_DB=your_postgres_database
JWT_SECRET=your_very_strong_and_secret_jwt_key # Needed for signing authentication tokens


# Flag to choose database client: 'true' for PostgreSQL, 'false' for Supabase
VITE_USE_POSTGRES=false
VITE_API_BASE_URL=http://localhost:3001/api

# node-pg-migrate configuration
MIGRATION_DIR=supabase/migrations
DATABASE_URL=postgresql://postgres:ed16740939@localhost:5432/ver2